[submodule "libSDL2pp"]
	path = libSDL2pp
	url = https://github.com/libSDL2pp/libSDL2pp.git
[submodule "box2d"]
	path = box2d
	url = https://github.com/erincatto/box2d
[submodule "gtest"]
	path = gtest
	url = https://github.com/google/googletest.git
