[submodule "libSDL2pp"]
	path = libSDL2pp
	url = https://github.com/libSDL2pp/libSDL2pp.git
[submodule "box2d"]
	path = box2d
	url = https://github.com/erincatto/box2d
[submodule "libs/Catch2"]
	path = libs/Catch2
	url = https://github.com/catchorg/Catch2.git
