[submodule "libSDL2pp"]
	path = libSDL2pp
	url = https://github.com/libSDL2pp/libSDL2pp.git
[submodule "rocketLeague_tests/lib"]
	path = rocketLeague_tests/lib
	url = https://github.com/google/googletest.git
